:root{
   --navBarH: 46px;
   --fullH: calc(100vh - var(--navBarH));
}
.flexFill {
   flex:1
}
#map {
   height:var(--fullH);
   width:100vw;
}
body {
   margin:0px;
}
#root {
   height:var(--fullH);
   width:100vw;
}
#curTimeDisplay:before {
   content:"Forecast For: "
}
#curTimeDisplay {
   width: 33vw;
   padding:5px;
   text-align:center;
   border-radius:8px;
   margin:2px;
   height:50px;
   font-size:20px;
}
.dateArrow {
   height:50px !important;
   line-height:50px !important;
}
#navBar {
   height:var(--navBarH);
   width:100vw;
   background-color:red;
   overflow:hidden;
}
#mainContent {

}
.nav-active {
}
.showHide {
   padding: 0px 10px;
   display:inline;
}
#titleBar {
   width:10%;
   line-height:var(--navBarH);
   text-align:center;
   font-size:30px;
   color:white;
   padding-right:10px;
   padding-left:10px;
}
.nav-active::before{
   width:10px;
   content:"";
   display:inline-block;
   height:10px;
   background-color:blue;
   margin-right:5px;
   border-radius:100%;
}
.navButton {
   color:white;
   background-color:rgba(0,0,0,0);
   border:none !important;
   font-size:20px;
}
.navButton:hover{
   color:grey;
}
.button {
   padding:5px;
   line-height:30px;
   text-align:center;
   border-radius:8px;
   height:30px;
   border: 1px solid black;
   margin:2px;
   transition: opacity 0s;
}
.clickable {
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */ 
   cursor:pointer;
}
.button:hover {
   box-shadow:0px 0px 5px rgba(0,0,0,.2);
}
.button:active{
   box-shadow:0px 0px 5px rgba(0,0,0,.5);
}
.button.active {
   box-shadow: 0px 0px 5px rgba(0,0,250,.5);
}
#weatherContols {
   padding:5px;
   position:absolute;
   top:var(--navBarH);
   left:0px;
   z-index:10;
   background-color:rgba(255,255,255,.8);
   width:20vw;
   max-width:250px;
}
.betaWindow {
   position:absolute;
   top:var(--navBarH);
   right:10px;
   width:30vw;
   z-index:10;
}
.offsetTop{
   border: 1px solid black;
   border-radius:5px;
   width:100%;
   height:50px;
   background-color:white;
   padding:4px;
}
.betaWindow > iframe{
   width:calc(100% + 5px);
   height:calc(var(--fullH) - 100px) ;
   background-color : rgba(0,0,0,.7);
}
.betaButton {
   display: none;
}

#topRow {
   display:flex;
   justify-content:center;
   flex-direction:row;
   width:100%;
   background-color:rgba(0,0,0,.9);
}
.buttonBar {
   display:flex;
   justify-content:flex-start;
   flex-direction:row;
   width:100%;
}
.buttonStack {
   display:flex;
   justify-content:center;
   flex-direction:column;
   width:100%;
}
 
#toolBar > div {
   flex : 1;
   text-align:center;
}
.hide { 
   display: none !important;
}
.on {
   background-color:rgba(0,180,0,.5) !important;
}
.off {
   background-color:rgba(255,0,0,.5) !important;
}
#infoPanel {
   border: black 1px solid;
   margin : 1px;
   text-align:center;
   font-size:20px;
   padding:10px;
}
#legend {
   display:flex;
   flex-direction:row;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
}
#legend > div > div {
   display:inline-block;
}
.legendLabel{
   margin:10px;
}
.legendDot {
   width:20px; 
   height: 20px; 
   border: 1px black solid; 
   border-radius:100%;
}
.legendRain    {  background-color:rgba(0,255,0,.5);}
.legendSnow    {  background-color:rgba(0,0,255,.5);}
.legendClear   {  background-color:rgba(0,0,0,0);}
.legendSunny   {  background-color:rgba(255,255,0,.5);}
.legendCloudy  {  background-color:rgba(100,100,100,.5);}
.legendLoading {  background-color:rgba(0,0,0,1);}
.legendUnknown {  background-color:rgba(255,0,0,1);}

.close {
   color:red;
   position:absolute;
   top:3px;
   right:9px;
   width:20px;;
   height:20px;
   border:none;
   padding:0px;
   margin:0px;
   height:auto;
   cursor:pointer;
   font-size:20px;
   box-shadow:none !important;
}
#mapCallout {
   white-space:nowrap;
   position : absolute;
   background-color:rgba(255,255,255,.9);
   border: 1px solid black;
   border-radius:10px;
   padding:10px;
   padding-right:30px;
   transform: translateX(-100%);
}

@media only screen and (max-width: 1200px) {
   #weatherContols {
      width:100%;
      max-width:100%;
      padding:0px;
   }
   .betaWindow {
      position:absolute;
      top:calc(var(--navBarH) + 20px);
      left:30px;
      width:calc(100vw - 60px);
      z-index:10;
   }
   .betaButton {
      display : block;
   }
}


